@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #555555;
  background-color:#191819;
}

a,
a:hover {
  color: #e71c4d;
}

a:hover {
  text-decoration: underline;
}

body{
  background: #191819;
  overflow: hidden;
  color: #555555;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  top: 0px;
  padding-bottom: 10px;
  -webkit-app-region: drag;
}

.h-main{
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h-left{
  display: flex;
  width: 50%;
  align-items: center;
}

header h1{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #E71C4D;
  padding-top: 15px;
}

.h-right{
  display: flex;
  padding-right: 20px;
  align-items: center;
  -webkit-app-region: no-drag;
}

header hr{
  border: 1px solid #282828;
  transform: rotate(-0.14deg);
  width: 90vw;
  margin: 2px;
}

#app-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

#logo {
  font-family: sans-serif;
  transition: all 0.1s ease;
  box-shadow: 0 2px #e71c4d;
  font-size: 3rem;
  font-weight: 600;
  background: #191819;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid #E71C4D;
  padding: 1rem 2rem;
  color: #E71C4D;
}

#logo.pressed {
  box-shadow: 0 0;
  margin-bottom: -2px;
  margin-top: 2px;
  border-radius: 10px;
  animation: changeColor 1s linear infinite;
}
@keyframes changeColor {
  0% {
    box-shadow: 0px 0px 20px #E71C4D;
  }
  25% {
    box-shadow: 0px 0px 20px #F06172;
  }
  50% {
    box-shadow: 0px 0px 20px #FF8B9A;
  }
  75% {
    box-shadow: 0px 0px 20px #FFB6C0;
  }
}

.hidden {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  border-bottom: 1px solid #555555;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#update-available {
  padding: 8px 5px;
  border: 1px solid #ffb8b8;
  background: #fff2f2;
  border-radius: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #E71C4D;;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  margin-bottom: 12px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: #E71C4D;
  box-shadow: 0px 0px 20px #E71C4D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: #ff5050;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}

table tr td {
  border-bottom: 0;
}

table {
  margin-bottom: 0;
}
